/* Common */
.THIS {
	width: 100%;
	height: 100%;
    background-color: #ffffff;
	font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}
.THIS a, .THIS a:hover {
    text-decoration: none;
}
.THIS .waiting {
   	height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(/resource/LightningMessage/img/loading.gif) no-repeat;
}
.THIS.header {
	height: 50px;
	width: 96%;
	position: absolute;
	top: 0px;
	padding: 10px;
	color: #2a94d6;
	font-size: 150%;
}
.THIS.header>.left {
    display: inline-block;
    float: left;
}
.THIS.header>.right {
	display: inline-block;
	float: right;
}
.THIS.contents {
    width: 100%;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.THIS .thumbs {
	display: block;
	position: absolute;
	height: 50px;
	overflow: visible;
	z-index: 2;
}
.THIS .thumbs>.thumb {
	transition-property: left;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px / 50px;
}
.THIS .large-btn {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 2px 2px -2px #707070;
}
.THIS  .list-group-item-info {
    color: #ffffff;
    background-color: #2a94d6;
}
.THIS .list-group-item {
    box-shadow: 0 2px 2px -2px #707070;
}
/* ConversationList */
.THIS .card {
    box-shadow: 0 2px 2px -2px #707070;
    transition: all .3s;
}
.THIS .card:hover {
    box-shadow: 0 6px 6px -6px #707070;
}
.THIS .list-item {
	margin-left: 60px;
	min-height: 50px;
	position: relative;
}
.THIS .list-item>.info {
	display: block;
	height: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.THIS .list-item>.info>.recipient {
	color: #2a94d6;
	display: inline-block;
	float: left;
	font-size: 12px;
}
.THIS .list-item>.info>.date {
	color: #aaaaaa;
	display: inline-block;
	float: right;
	right: -60px;
	font-size: 12px;
}
.THIS .list-item>.text {
	display: inline-block;
	white-space: pre-wrap;
	width: 100%;
}
/* MessageList */
.THIS .list-view {
    padding-left: 0px;
}
.THIS .my-message {
    margin-left: 100px;
    position: relative;
    padding-bottom: 14px;
    padding-right: 10px;
}
/* line 130, ../sass/_timeline.sass */
.THIS .my-message .text {
    color: #344a5f;
    background-color: #bbf896;
    min-height: 50px;
    padding: 10px;
    margin-top: 2px;
    white-space: pre-wrap;
    border-radius: 20px 2px 20px 20px;
    box-shadow: 0 2px 2px -2px #707070;
}
.THIS .my-message>.text:after {
    border: 10px solid transparent;
    border-left-color: #bbf896;
    border-right-width: 0px;
    right: 0px;
    content: "";
    display: block;
    top: 20px;
    position: absolute;
    width: 0px;
}
.THIS .other-message {
    margin-left: 60px;
    position: relative;
    padding-bottom: 14px;
    padding-right: 40px;
}
.THIS .other-message>.text {
    color: #344a5f;
    background-color: #e9edef;
    min-height: 50px;
    padding: 10px;
    margin-top: 2px;
    white-space: pre-wrap;
    border-radius: 2px 20px 20px 20px;
    box-shadow: 0 2px 2px -2px #707070;
}
.THIS .other-message>.text:after {
    border: 10px solid transparent;
    border-right-color: #e9edef;
    border-left-width: 0px;
    left: -10px;
    content: "";
    display: block;
    top: 20px;
    position: absolute;
    width: 0px;
}
.THIS .list-view .info {
	display: block;
    height: 16px;
    margin-top: 5px;
}
.THIS .list-view .info>.sender {
    color: #2a94d6;
    display: inline-block;
    float: left;
    font-size: 12px;
}
.THIS .list-view .info>.date {
    color: #aaaaaa;
    display: inline-block;
    float: right;
    font-size: 12px;
}
/* SearchUser */
.THIS .profile {
  min-height: 50px;
  position: relative;
}
.THIS .profile>.name {
  color: #2a94d6;
  margin-left: 60px;
  font-size: 16px;
}
.THIS .profile>.title {
  color: #aaaaaa;
  margin-left: 60px;
  font-size: 12px;
}